# {{ ansible_managed }}#Enable/Disable SSO. Default is TRUE
SSOEnable=TRUE#Set the User ID format for SSO. Default is [username]. If the separator contains special char, you need escape it.
#SSOUserFormat=[domain]\\[username]
#SSOUserFormat=[domain]-[username]
#SSOUserFormat=[domain]+[username]
#SSOUserFormat=[domain]@[username]#Enable/Disable CDR. Default is TRUE
CDREnable=FALSE#Enable/Disable USB. Default is TRUE
USBEnable=FALSE#Enable/Disable UEM. Default is FALSE
#UEMEnable=TRUE#UEM network share path which involves UEM policies files.
#Must be Linux network path format, such as: //192.168.0.1/UEMConfig
#UEMNetworkPath=#Set the timeout in seconds for mounting the UEM network share path. Default is 60.
#UEMMountTimeout=60#Enable/Disable Help Desk Tool. Default is TRUE
HelpDeskEnable=FALSE#Select client physical network card IP or VPN IP as the endpoint IP to match the UEM endpoint IP range.
#If the option is TRUE, the VPN IP will be selected if the VPN is enalbed in the client side;
#else, the client physical network card IP will be selected.
#Default is FALSE.
#EndpointVPNEnable=TRUE#Set the SSL ciphers string. Default is !aNULL:kECDH+AESGCM:ECDH+AESGCM:RSA+AESGCM:kECDH+AES:ECDH+AES:RSA+AES.
#SSLCiphers=!aNULL:kECDH+AESGCM:ECDH+AESGCM:RSA+AESGCM:kECDH+AES:ECDH+AES:RSA+AES#Set the SSL protocols string. We only support TLSv1.0 TLSv1.1 TLSv1.2 protocols. Default is TLSv1_1:TLSv1_2.
#SSLProtocols=TLSv1.1:TLSv1.2#Enable/Disable the SSL_OP_CIPHER_SERVER_PREFERENCE option. Default is TRUE.
#SSLCipherServerPreference=FALSE#Set the timeout time in seconds for VMwareBlastServer start. Default is 20.
#StartBlastServerTimeout=20#Set a subnet which other machines can connect to ViewAgent with it. If there are more than one
#local IP with different subnets, the local IP in the configured subnet will be used for ViewAgent.
#You need specify the value in IP/CIDR format, such as Subnet=192.168.1.0/24
#Subnet=192.168.1.0/24#Set the reserved log file count under /tmp/vmware-*, -1: keep all. 0: delete all. > 0: reserved log count. Default is -1.
#Please note that there may be 1 more log than expected sometimes due to the startup order of the script and program.
#LogCnt=-1#Set the run once script which will be executed as root permission when the agent
#service starts and host name has been changed since agent installation.
#The specified script will be executed once only after the 1st host name change.
#The option can be used to re-join the cloned VM to AD. Take winbind solution for
#example, you should join the base VM to AD with winbind, and set this option to
#a script path, which should contain domain re-join command, such as:
#"/usr/bin/net ads join -U <YourADUserName>%<ADUserPassword>". After VM Clone, the
#OS customization will change the host name. After that, when agent service starts,
#the script will be executed to join the cloned VM to AD.
#RunOnceScript=#Set the timeout time in seconds for RunOnceScript execute. Default is 120s.
#RunOnceScriptTimeout=120#Select the desktop environment if installed in Ubuntu 16.04/18.04, RHEL/CentOS 7.
#Ubuntu 16.04 supports UseMATE, UseKdePlasma, and UseGnomeFlashback.
#Ubuntu 18.04 supports UseMATE, UseKdePlasma, and UseGnomeUbuntu.
#RHEL/CentOS 7 supports UseKdePlasma and UseGnomeClassic.
#RHEL/CentOS 8 supports UseGnomeClassic.
#The option takes effect regardless of SSO enabled or disabled for Ubuntu 16.04/18.04.
#The option takes effect only when SSO enabled for RHEL/CentOS 7/8.
SSODesktopType=UseGnomeClassic
#SSODesktopType=UseGnomeFallback
#SSODesktopType=UseGnomeFlashback
#SSODesktopType=UseGnomeUbuntu
#SSODesktopType=UseMATE
#SSODesktopType=UseKdePlasma#Enable/Disable Keyboard layout sync, default is TRUE
#KeyboardLayoutSync=FALSE#Enable/Disable Locale sync, default is FALSE
#LocaleSync=TRUE#Instant Clone offline domain join solution, default vaule is 'pbis'.
#Its value could be 'pbis', 'samba' or 'none', and 'none' means disable.
OfflineJoinDomain=none
#OfflineJoinDomain=pbis
#OfflineJoinDomain=samba#Set the Netbios domain name if this agent have joined domain.
#Please set the Netbios domain name, not DNS domain name. For
#example, if the DNS domain name is yourdomain.com, and the Netbios
#domain name is YOURDOMAIN, you should set YOURDOMAIN.
#NetbiosDomain=YOURDOMAIN#Enable/Disable Sesssion Collaboration on Linux VDI. Default is TRUE.
CollaborationEnable=TRUE#SSO timeout value for remote application in seconds. Default is 60s when SSO is
#enabled, this option doesn't take effect if SSO is disabled.
#SsoTimeout=60