# {{ ansible_managed }}#Enable/Disable the build to lossless mode. Default is FALSE
#RemoteDisplay.buildToPNG=TRUE#Enable/Disable the left-handed mouse support on Ubuntu and RHEL 7. Default is False
#mksVNCServer.useUInputButtonMapping=TRUE#Enable/Disable the audio out. Default is TRUE.
#RemoteDisplay.allowAudio=FALSE#Set clipboard redirection. Default is 2. 0 means disable; 1 means both direction; 2 means from client to agent only, 3 means from agent to client only.
Clipboard.Direction=0#Set clipboard maximum size which should be specified in KBytes. Default is 1024 KBytes.
#mksvchan.clipboardSize=1024#Enable/Disable the smartcard redirection. Default is TRUE
#VVC.ScRedir.Enable=FALSE#Loglevel for the smartcard redirection. Log level include [ info | debug]. Default is info.
#VVC.ScRedir.logLevel=debug#Enable/Disable audio in feature. Default is TRUE
#VVC.RTAV.Enable=FALSE#Loglevel for vmware-CDRServer.log. log level include [ error | warn | info | debug | trace | verbose]. Default is info.
#cdrserver.logLevel=debug#To prevent the client from sharing additional folders (that is, folders that are not specified with cdrserver.shareFolders). Default is FALSE.
#cdrserver.forcedByAdmin=TRUE#To specify the folders client can share and the permission for each folder.
#cdrserver.sharedFolders=c:\Users\folder1,R;c:\Users\folder2,R;/home/user,R#To prevent write access to all folders that are shared with the remote desktop, default value is RW means all shared folders are readable and writable.
#cdrserver.permissions=R#To enable the write cache from agent towards the client side. Default is TRUE.
#cdrserver.cacheEnable=FALSE#Setup customized shared folder path.
#cdrserver.customizedSharedFolderPath=/mnt/#Loglevel for vmware-vvcProxy-Node log file. log level include [ fatal | error | warn | info | debug | trace | all ]. Default is info.
#vvc.logLevel=debug#Loglevel for vmware-vdpService-Server log file. log level include [ error | warn | info | debug | trace | verbose]. Default is info.
#vdpservice.log.logLevel=debug#To enable/disable VVC heartbeats. The value can be 0|1, means disable|enable VVC heartbeats, Default is enabled.
#vvc.VVCHeartbeats=0#Specifies the maximum bandwidth, in kilobits per second (kbps), for a VMware Blast session. The bandwidth includes all imaging, audio, virtual channel, USB, and VMware Blast control traffic. The default value is 1 Gbps.
#RemoteDisplay.maxBandwidthKbps=1000000#Specifies the minimum bandwidth, in kilobits per second (kbps), that is reserved for a VMware Blast session. The default value is 256 kbps.
#RemoteDisplay.minBandwidthKbps=256#Specifies the maximum rate of screen updates. Use this setting to manage the average bandwidth that users consume. Valid value should be between 3 and 60. The default value is 30 updates per second.
#RemoteDisplay.maxFPS=30#Enable/Disable the Blast protocol statistics in mks log, such bandwidth, FPS, RTT, ... Default is FALSE
#RemoteDisplay.enableStats=FALSE#Enable/Disable H.264 Encoding. Default is TRUE
RemoteDisplay.allowH264=FALSE#Max H264 Quantization Parameter (MINIMUM H264 QUALITY for the SW H264 encoder). Default is 36. Accept values from 0 to 51, but the value should be set larger than the value of RemoteDisplay.qpminH264.
#RemoteDisplay.qpmaxH264=36#Min H264 Quantization Parameter (MAXIMUM H264 QUALITY for the SW H264 encoder). Default is 10. Accept values from 0 to 51, but the value should be set less than the value of RemoteDisplay.qpmaxH264.
#RemoteDisplay.qpminH264=10#Specifies the image quality for the JPEG/PNG encoded desktop display. The low-quality settings are for areas of the screen that change often, for example, when scrolling occurs.
#The high-quality settings are for areas of the screen that are more static, resulting in a better image quality. You can specify the following settings:#Available range of values: 1 - 100, default: 25
#RemoteDisplay.minQualityJPEG=25#Available range of values: 1 - 100, default: 35
#RemoteDisplay.midQualityJPEG=35#Available range of values: 1 - 100, default: 90
#RemoteDisplay.maxQualityJPEG=90#Enable/Disable UDP protocol support, Default is TRUE
#RemoteDisplay.enableUDP=FALSE#Enable/Disable Network Continuity, Default is TRUE
#RemoteDisplay.enableNetworkContinuity=FALSE#Enable/Disable Network Intelligence, Default is TRUE
#RemoteDisplay.enableNetworkIntelligence=FALSE#Loglevel for vmware-UsbRedirPlugin. Log level include [ error | warn | info | debug | trace | verbose]. Default is info.
#UsbRedirPlugin.log.logLevel=debug#Loglevel for vmware-UsbRedirServer. Log level include [ error | warn | info | debug | trace | verbose]. Default is info. If log level is trace, it will dump all the binary data. If the log level of vmware-UsbRedirServer is debug or trace, "UsbRedirServer.log.throttleBytesPerSec" should be setted to "-1".
#UsbRedirServer.log.logLevel=debug
#UsbRedirServer.log.throttleBytesPerSec=-1#Enable the log file for TrueSSO feature. Log level include [error | warn | info | debug | trace | verbose]. The log file is disabled by default.
VMWPkcs11Plugin.log.enable=true
VMWPkcs11Plugin.log.logLevel=info#PLZ refer to https://www.vmware.com/content/dam/digitalmarketing/vmware/en/pdf/techpaper/vmware-horizon-view-usb-device-redirection-white-paper.pdf for USB Configuration. The format of USB Config such as:
#viewusb.IncludeVidPid=m:vid-xxxx_pid-xxxx
#viewusb.AllowKeyboardMouse=o:true#Loglevel for collabui. Log level include [ error | info | debug]. Default is info. If log level is debug, it will dump every entrance of collabui functions and the collabor list's content.
collaboration.logLevel=info#Specifies the maximum collaborators. Use this setting to manage how many users can be added to one session. Valid value should not be greater than 10. The default is 5.
#collaboration.maxCollabors=10#Enable/Disable the invitation via email, Default is TRUE
#collaboration.enableEmail=FALSE#Enable/Disable passing input control to other collaborators, Default is TRUE
#collaboration.enableControlPassing=FALSE#Customized server URL to include in the invitation message for Session Collaboration feature.
#collaboration.serverUrl=""#Loglevel for BlastServer process. Log level include [ error | warn | info | debug | trace | verbose]. Default is info.
#BlastServer.log.logLevel=debug#Loglevel for desktopDaemon process. Log level include [ error | warn | info | debug | trace | verbose]. Default is info.
#DesktopDaemon.log.logLevel=debug#Loglevel for desktopWorker process. Log level include [ error | warn | info | debug | trace | verbose]. Default is info.
#DesktopWorker.log.logLevel=debug#Loglevel for desktopController process. Log level include [ error | warn | info | debug | trace | verbose]. Default is info.